<ion-item *ngFor="let expenseMemberModel of expenseMemberModels" lines="none" class="expense-list-wrapper ion-margin-bottom">
  <ion-buttons slot="end">
    <ion-button
      *ngIf="expenseMemberModel?.receipt_url"
      fill="clear"
      (click)="openReceiptModal(expenseMemberModel.receipt_url)"
      class="ion-margin-end"
    >
      <ion-icon name="image-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" (click)="uploadReceipt(expenseMemberModel.id)" class="ion-margin-end">
      <ion-icon name="cloud-upload-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-checkbox
    [(ngModel)]="expenseMemberModel.is_paid"
    slot="end"
    (ionChange)="onCheckboxChange($event, expenseMemberModel.id)"
  ></ion-checkbox>
  <ion-icon
    *ngIf="expenseMemberModel.expense?.selected_category === 'Entertainment'"
    name="game-controller-outline"
    slot="start"
    style="max-width: 85%; max-height: 85%"
  ></ion-icon>
  <ion-icon
    *ngIf="expenseMemberModel.expense?.selected_category === 'Food & Drinks'"
    name="fast-food-outline"
    slot="start"
    style="max-width: 85%; max-height: 85%"
  ></ion-icon>
  <ion-icon
    *ngIf="expenseMemberModel.expense?.selected_category === 'Groceries'"
    name="basket-outline"
    slot="start"
    style="max-width: 85%; max-height: 85%"
  ></ion-icon>
  <ion-icon
    *ngIf="expenseMemberModel.expense?.selected_category === 'Transport'"
    name="car-outline"
    slot="start"
    style="max-width: 85%; max-height: 85%"
  ></ion-icon>
  <ion-icon
    *ngIf="expenseMemberModel.expense?.selected_category === 'Housing'"
    name="home-outline"
    slot="start"
    style="max-width: 85%; max-height: 85%"
  ></ion-icon>
  <ion-icon
    *ngIf="expenseMemberModel.expense?.selected_category === 'Others'"
    name="help-circle-outline"
    slot="start"
    style="max-width: 85%; max-height: 85%"
  ></ion-icon>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-text>
            <strong>{{ expenseMemberModel.expense?.selected_category }} ({{ expenseMemberModel.expense?.expense_date | date: 'dd/MM/yy' }})</strong>
          </ion-text>
        </ion-row>
        <ion-row>
          <ion-text color="medium">{{ expenseMemberModel.expense?.notes }}</ion-text>
        </ion-row>
        <ion-row>
          <ion-text>RM{{ getAmount(expenseMemberModel) }}</ion-text>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
<ion-item *ngIf="expenseMemberModels.length === 0" lines="none" class="expense-list-wrapper">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-text>
          <strong>There are no expenses available.</strong>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item>
