<ion-item-sliding>
    <ion-item>
        <ion-icon name="cart-outline" slot="start" style="max-width: 85%; max-height: 85%;"></ion-icon>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-row>
                        <ion-text>
                            <strong>Grocery's</strong>
                        </ion-text>
                    </ion-row>
                    <ion-row class="ion-margin-bottom">
                        <ion-text> RM5.00 </ion-text>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
</ion-item-sliding>