<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Sign In</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-item>
              <ion-label
                label-placement="floating"
                fill="outline"
                position="floating"
                >Email</ion-label
              >
              <ion-input type="email" required></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Password</ion-label>
              <ion-input type="password" required></ion-input>
            </ion-item>

            <ion-button
              [routerLink]="['/menu']"
              size="small"
              expand="block"
              color="primary"
              class="ion-margin-top"
              >Login</ion-button
            >
            <br />

            <ion-row class="ion-justify-content-center">
              <ion-col size="auto" class="ion-text-center">
                <ion-text>
                  <p style="display: inline">Don't have an account?</p>
                  <ion-text color="primary">
                    <a
                      [routerLink]="['/auth/register']"
                      style="text-decoration: none; margin-left: 5px"
                      >Sign Up</a
                    >
                  </ion-text>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
