

.unread-indicator {
    background: var(--ion-color-primary);
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    inset-inline-start: 12px;
    top: 12px;
  }


  ion-label strong {
    display: block;
    max-width: calc(100% - 60px);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  ion-label ion-note {
    font-size: 0.9rem;
  }
  ion-toolbar {
    --background: #fff; /* Optional: Set background color */
  }
  
  ion-text h2 {
    font-size: 30px; /* Adjust the font size */
    font-weight: bold; /* Make the text bold */
    margin: 15px 15; /* Add space above and below the text */
  }

  .notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .notification-header ion-text {
    margin-top: 20px;
  }
  
  .notification-header h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  .rounded-list {
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
  }
  