<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/auth/login']">
        <ion-icon name="arrow-back-outline" slot="start"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-md="6" size-lg="4">
        <ion-card>
          <ion-card-header>
            <ion-card-title class="ion-text-center">Register</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <form (ngSubmit)="register()">
              <ion-input [(ngModel)]="name" name="name" label="Name" label-placement="floating" fill="outline" placeholder="Enter your name" required></ion-input>
              <br />

              <ion-input [(ngModel)]="age" name="age" label="Age" label-placement="floating" type="number" min="0" max="120" fill="outline" placeholder="Enter your age" required></ion-input>
              <br />

              <ion-input [(ngModel)]="email" name="email" label="Email" label-placement="floating" fill="outline" placeholder="Enter your email" required type="email"></ion-input>
              <br />

              <ion-input [(ngModel)]="phone" name="phone" label="Phone number" label-placement="floating" type="number" fill="outline" placeholder="Enter phone number" required></ion-input>
              <br />

              <ion-input [(ngModel)]="password" name="password" label="Password" label-placement="floating" fill="outline" placeholder="Enter password" required type="password"></ion-input>
              <br />

              <ion-input [(ngModel)]="confirmPassword" name="confirmPassword" label="Confirm Password" label-placement="floating" fill="outline" placeholder="Confirm your password" required type="password"></ion-input>
              <br />

              <ion-button type="submit" size="small" expand="block" color="primary" shape="round" class="ion-margin-top">Sign Up</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
