ion-content {
    .content-container {
      padding: 16px; /* Add some padding */
      max-width: 1200px; /* Set a max width for larger screens */
      margin: 0 auto; /* Center the content horizontally */
      width: 100%; /* Ensure full width for smaller screens */
      box-sizing: border-box; /* Ensure padding is included in the width */
    }
  }