<ion-header translucent>
  <ion-toolbar class="transparent-header">
    <!-- Left side (empty for center alignment) -->
    <ion-buttons slot="start"> create</ion-buttons>

    <!-- App icon in the center -->
    <ion-title class="ion-text-center">
      <ion-icon src="/assets/icon/app-icon.svg" size="large"></ion-icon>
    </ion-title>

    <!-- Notification icon on the right -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>