<ion-header translucent>
  <ion-toolbar class="transparent-header">
    
    <!-- Left side (empty for center alignment) -->
    <!-- <ion-buttons slot="start">
      <ion-button (click)="onCreateClick()">
        <ion-icon  slot="start" name="add-outline"></ion-icon> 
      </ion-button>
    </ion-buttons> -->

    <!-- App icon in the center -->
    <ion-title class="ion-text-center">
      <img src="./assets/icon/cohomelogo.png" style="height: 40px;"/>
    </ion-title>

    <!-- Notification icon on the right -->
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>