<ion-header>
    <ion-toolbar>
      <!-- Back Button -->
      <ion-buttons slot="start" (click)="cancelCreate()">
        <ion-icon style="font-size: 20px" name="chevron-back-outline"></ion-icon>
      </ion-buttons>
  
      <!-- Centered Title -->
      <ion-title class="header-title">
        Payment
      </ion-title>
  
      <!-- Save Button -->
      <ion-buttons slot="end" (click)="cancelCreate()">
        <ion-icon style="font-size: 20px" name="checkmark-done-outline"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">

   <ion-list [inset]="true" class="rounded-list">
    <ion-item>
        <div class="qr-container">
            <img src="./assets/icon/qr.png" class="qr-image">
            <ion-button fill="clear" class="qr-button">
                Click to upload your QR code
            </ion-button>
        </div>
    </ion-item>
</ion-list>

</ion-content>