<ion-content class="ion-padding">

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-buttons (click)="cancelCreate()">
                    <ion-icon style="font-size: 20px;" name="chevron-back-outline"></ion-icon>
                </ion-buttons>
            </ion-col>
            <ion-col>
                <ion-buttons class="ion-float-right">
                    <ion-icon style="font-size: 20px;" name="checkmark-done-outline"></ion-icon>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>

    <!-- Profile Photo Section -->
    <ion-list [inset]="true" class="rounded-list">
        <ion-item lines="none" class="profile-photo-item">
            <div class="profile-photo-container">
                <ion-avatar class="profile-avatar">
                    <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Silhouette of a person's head">
                </ion-avatar>
                <ion-button fill="clear" class="change-photo-button">
                    Set New Photo
                </ion-button>
            </div>
        </ion-item>
    </ion-list>


    <!-- Name Input Section -->
    <ion-list [inset]="true" class="rounded-list">
        <ion-item>
            <ion-input [(ngModel)]="name" placeholder="Name"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item>
            <ion-input [(ngModel)]="age" placeholder="Age" ></ion-input>
        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item>
            <ion-input [(ngModel)]="phone" placeholder="Phone number" ></ion-input>
        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item>
            <ion-input [(ngModel)]="email" type="email" [disabled]="true"></ion-input>
        </ion-item>
    </ion-list>


    <!-- Delete Account Button -->
    <ion-button [routerLink]="['/auth/login']" size="small" expand="block" color="danger" shape="round"
        class="lowercase-button">Delete account</ion-button>
</ion-content>