<ion-header>
  <ion-toolbar class="modal-toolbar">
    <ion-title>Edit Task</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" fill="clear" class="close-button">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-background">
  <div class="modal-container">
    <!-- Task Selection -->
    <div class="form-group">
      <ion-label class="form-label">Task</ion-label>
      <ion-select
        [(ngModel)]="taskModel.task_id"
        placeholder="Select a task"
        class="form-input"
        label="Task"
      >
        <ion-select-option value="0">Mop Floor</ion-select-option>
        <ion-select-option value="1">Wash Sink</ion-select-option>
        <ion-select-option value="2">Clean Windows</ion-select-option>
        <ion-select-option value="3">Empty Trash</ion-select-option>
        <ion-select-option value="4">Others</ion-select-option>
      </ion-select>
    </div>

    <!-- Notes -->
    <div class="form-group">
      <ion-label class="form-label">Notes</ion-label>
      <ion-textarea
        [(ngModel)]="taskModel.notes"
        placeholder="Add additional details..."
        class="form-input"
        rows="3"
      ></ion-textarea>
    </div>

    <!-- Assign Members -->
    <div class="form-group">
      <ion-label class="form-label">Assign Members</ion-label>
      <ion-select
        [(ngModel)]="taskModel.members"
        placeholder="Select members"
        multiple="true"
        class="form-input"
        label="Members"
      >
        <ion-select-option
          *ngFor="let member of householdMembers"
          [value]="member.user?.id"
        >
          {{ member.user?.name }}
        </ion-select-option>
      </ion-select>
    </div>

    <!-- Days -->
    <div class="form-group">
      <ion-label class="form-label">Days</ion-label>
      <ion-select
        [(ngModel)]="taskModel.days"
        placeholder="Select days"
        multiple="true"
        class="form-input"
        label="Days"
      >
        <ion-select-option value="0">Monday</ion-select-option>
        <ion-select-option value="1">Tuesday</ion-select-option>
        <ion-select-option value="2">Wednesday</ion-select-option>
        <ion-select-option value="3">Thursday</ion-select-option>
        <ion-select-option value="4">Friday</ion-select-option>
        <ion-select-option value="5">Saturday</ion-select-option>
        <ion-select-option value="6">Sunday</ion-select-option>
      </ion-select>
    </div>

    <!-- Save Task Button -->
    <div class="action-group">
      <ion-button
        expand="block"
        shape="round"
        size="large"
        color="success"
        class="action-button"
        (click)="updateTaskDetails()"
      >
        Save
      </ion-button>
      <ion-button
        expand="block"
        shape="round"
        size="large"
        color="danger"
        class="action-button ion-margin-top"
        (click)="deleteTask()"
      >
        Delete
      </ion-button>
    </div>
  </div>
</ion-content>
