<ion-list>
    <ion-item-sliding>
        <ion-item>
            <ion-icon name="cart-outline" slot="start" style="max-width: 85%; max-height: 85%;"></ion-icon>
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-row>
                            <ion-text>
                                <strong>Grocery's</strong>
                            </ion-text>
                        </ion-row>
                        <ion-row class="ion-margin-bottom">
                            <ion-text> RM5.00 </ion-text>
                        </ion-row>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item-options>
            <ion-item-option id="open-edit" color="medium">
                <ion-icon slot="end" name="create-outline"></ion-icon>
                Edit
            </ion-item-option>
            <ion-item-option color="success">
                <ion-icon slot="end" name="checkmark-outline"></ion-icon>
                Paid
            </ion-item-option>
        </ion-item-options>
    </ion-item-sliding>
</ion-list>

<!-- ion modal open edit page -->
<ion-modal #editModal trigger="open-edit">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="editModal.dismiss()">Cancel</ion-button>
                </ion-buttons>
                <ion-title class="centered-title"> Details</ion-title>
                <ion-buttons slot="end">
                    <ion-button trigger="open-amount">
                        <ion-icon name="pencil-outline" style="margin-right: 15px;"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-content shape="round">
                <app-expense-edit></app-expense-edit>
            </ion-content>
        </ion-content>
    </ng-template>
</ion-modal>