<ion-item-sliding>
    <ion-item>
        <ion-checkbox slot="end"></ion-checkbox>
        <ion-icon name="fast-food-outline" slot="start" style="max-width: 85%; max-height: 85%;"></ion-icon>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-row>
                        <ion-text>
                            <strong>Food & Drinks</strong>
                        </ion-text>
                    </ion-row>
                    <ion-row>
                        <ion-text> Nasi lemak semalam </ion-text>
                    </ion-row>
                    <ion-row>
                        <ion-text> RM5.00 </ion-text>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>
    <ion-item-options>
        <ion-item-option id="open-edit" color="medium" [routerLink]="['/expense/edit']">
            <ion-icon slot="end" name="create-outline"></ion-icon>
            Edit
        </ion-item-option>
    </ion-item-options>
</ion-item-sliding>
