<ion-content class="ion-padding">
    <ion-buttons (click)="cancelTask()">
        <ion-button>
            <ion-icon name="chevron-back-outline" slot="start" style="margin-left: 10px;"></ion-icon>
        </ion-button>
        <ion-button (click)="createTask()">
            <ion-icon name="chevron-forward-outline" slot="end" style="margin-left: 290px;"></ion-icon>
        </ion-button>
    </ion-buttons>
    
    <ion-label>
        <div class="allTask-header">
            <ion-text>
                <h2>Days</h2>
            </ion-text>
        </div>
    </ion-label>

    <!-- List hari -->
    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true">
            <ion-checkbox slot="end"></ion-checkbox>
            <ion-label>Sunday</ion-label>
        </ion-item>
    </ion-list>

    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true">
            <ion-checkbox slot="end"></ion-checkbox>
            <ion-label>Monday</ion-label>

        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true">
            <ion-checkbox slot="end"></ion-checkbox>
            <ion-label>Tuesday</ion-label>
        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true">
            <ion-checkbox slot="end"></ion-checkbox>
            <ion-label>Wednesday</ion-label>
        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true">
            <ion-checkbox slot="end"></ion-checkbox>
            <ion-label>Thursday</ion-label>
        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true">
            <ion-checkbox slot="end"></ion-checkbox>
            <ion-label>Friday</ion-label>
        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true">
            <ion-checkbox slot="end"></ion-checkbox>
            <ion-label>Saturday</ion-label>
        </ion-item>
    </ion-list>

</ion-content>