<ion-content class="ion-padding">
    <ion-buttons [routerLink]="['/home/task']">
        <ion-icon name="chevron-back-outline" slot="end" style="margin-left: 10px;"></ion-icon>
    </ion-buttons>
    <ion-label class="ion-padding ">
        <div class="allTask-header">
            <ion-text>
                <h2>Today</h2>
            </ion-text>
        </div>
    </ion-label>

<!-- List hari -->
    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true" [routerLink]="['/task/create']">
            <ion-label>Sunday</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end" style="margin-left: 10px;"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true" [routerLink]="['/task/create']">
            <ion-label>Monday</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end" style="margin-left: 10px;"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true" [routerLink]="['/task/create']">
            <ion-label>Tuesday</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end" style="margin-left: 10px;"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true" [routerLink]="['/task/create']">
            <ion-label>Wednesday</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end" style="margin-left: 10px;"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true" [routerLink]="['/task/create']">
            <ion-label>Thursday</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end" style="margin-left: 10px;"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true" [routerLink]="['/task/create']">
            <ion-label>Friday</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end" style="margin-left: 10px;"></ion-icon>
        </ion-item>
    </ion-list>
    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true" [routerLink]="['/task/create']">
            <ion-label>Saturday</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end" style="margin-left: 10px;"></ion-icon>
        </ion-item>
    </ion-list>

</ion-content>

