<ion-header>
  <ion-toolbar class="task-management-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="back()">
        <ion-icon name="chevron-back-outline" class="icon-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="toolbar-title">Household</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="modern-background">
  <div class="info-container">
    <!-- Household Name -->
    <div class="form-group">
      <ion-label class="form-label">House Name</ion-label>
      <ion-input
        placeholder="Enter house name"
        [(ngModel)]="householdData.household_name"
        class="form-input"
        [readonly]="!isLeader"
      ></ion-input>
    </div>

    <!-- Household Address -->
    <div class="form-group">
      <ion-label class="form-label">House Address</ion-label>
      <ion-textarea
        placeholder="Enter house address"
        [(ngModel)]="householdData.household_address"
        class="form-input"
        [readonly]="!isLeader"
      ></ion-textarea>
    </div>

    <!-- Household Code -->
    <div class="form-group">
      <ion-label class="form-label">Household Code</ion-label>
      <ion-text class="form-text">{{ householdData.code }}</ion-text>
    </div>

    <!-- Delete Button -->
    <div class="action-group" *ngIf="isLeader">
      <ion-button
        expand="block"
        color="primary"
        shape="round"
        class="delete-button"
        (click)="save()"
      >
        Save
      </ion-button>
    </div>
  </div>
</ion-content>
