<ion-content class="ion-padding">

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-buttons (click)="cancelCreate()">
                    <ion-icon style="font-size: 20px;" name="chevron-back-outline"></ion-icon>
                </ion-buttons>
            </ion-col>
            <ion-col>
                <ion-buttons class="ion-float-right">
                    <ion-icon style="font-size: 20px;" name="checkmark-done-outline"></ion-icon>
                </ion-buttons>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-list [inset]="true" class="rounded-list">
        <ion-item>
            <ion-input placeholder="House name" value="Mini Home"></ion-input>
        </ion-item>
    </ion-list>

    <ion-button [routerLink]="['/auth/login']" size="small" expand="block" color="danger" shape="round"
        class="lowercase-button">Delete house</ion-button>

</ion-content>