.task-management-toolbar {
  --background: #ffffff;
  --color: #1d1d1d;
  display: flex;
  align-items: center;
  padding-top: env(safe-area-inset-top); /* Add safe area padding at the top */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-sizing: border-box; /* Ensure padding is included in the height */
}

.toolbar-title {
  font-size: 18px;
  font-weight: 600;
}

.task-management-background {
  --background: #f8f9fa;
}

.create-household-section {
  padding: 20px;
  text-align: center;

  .section-header {
    margin-bottom: 20px;

    h2 {
      font-size: 20px;
      font-weight: bold;
      color: #333;
    }

    .section-description {
      font-size: 14px;
      color: #666;
    }
  }

  .form-container {
    ion-item {
      margin-bottom: 15px;
    }

    .modern-button {
      font-size: 16px;
      border-radius: 8px;
      height: 50px;
    }

    ion-label {
      margin-bottom: 20px;
    }

    .modern-item {
      padding-bottom: 10px !important;
    }

    .modern-input {
      padding-left: 10px !important;
      margin-bottom: 10px !important;
      border: 1px solid #e0e0e0;
      border-radius: 8px;
      margin-top: 15px;
    }
  }
}

.household-details-section {
  padding: 20px;

  .household-info-card {
    background: #ffffff;
    border-radius: 12px;
    padding: 15px;
    margin-bottom: 20px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

    .household-title {
      font-size: 20px;
      font-weight: bold;
      color: #1d1d1d;
    }

    .household-address {
      font-size: 14px;
      color: #666;
    }
  }

  .members-section {
    .section-header {
      margin-bottom: 10px;

      h3 {
        font-size: 16px;
        font-weight: bold;
        color: #333;
      }
    }

    .modern-list {
      background: #ffffff;
      border-radius: 12px;
      padding: 10px;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);

      .modern-member-item {
        display: flex;
        align-items: center;
        padding: 10px 0;

        &:not(:last-child) {
          border-bottom: 1px solid #eaeaea;
        }

        .modern-avatar {
          height: 45px;
          width: 45px;
          border-radius: 50%;
          overflow: hidden;
          border: 2px solid #53923d; /* Primary color border */
        }

        .member-details {
          flex: 1;
          margin-left: 10px;

          .member-name {
            font-size: 14px;
            font-weight: bold;
            color: #1d1d1d;
          }

          .member-role {
            font-size: 12px;
            color: #777;
          }
        }

        .qr-button {
          --background: transparent;
          --color: #e74c3c;

          ion-icon {
            font-size: 20px;
          }
        }
      }
    }
  }
}

ion-fab-button {
  --background: #53923d;
  --background-activated: #40762d;
  --border-radius: 50%;
}
