ion-header {
  --background: transparent !important; /* Ensures the background is transparent */
  --border-width: 0 !important;        /* Removes any border width */
  box-shadow: none !important;         /* Completely removes the shadow */
}

ion-toolbar {
  --background: transparent !important;
  box-shadow: none !important;         /* Ensures no shadow on the toolbar */
  --ion-shadow-elevation: 0 !important; /* Additional Ionic-specific shadow removal */
  --border-color: transparent !important;
  padding: 0;
}

.header-logo {
  text-align: center;
}

.cohome-logo {
  height: 70px; /* Adjust the logo height */
  width: auto;  /* Keep the aspect ratio */
  margin: auto;
}

.move-text {
    position: relative;
    top: 20px;   /* Moves the text down by 20px */
    left: 10px;  /* Moves the text to the right by 10px */
  }
  
  /* Or with margin */
  .move-text {
    margin-top: 20px;    /* Moves down */
    margin-left: 10px;   /* Moves right */
  }

  .rounded-list {
    border-radius: 15px; 
    overflow: hidden; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    margin: 10px; 
  }

  .household-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .household-header ion-text {
    margin-top: 20px;
  }
  
  .household-header h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
  }

  .fab-button {
    --background: #53923d;
    --color: #ffde59;
  }

  