<ion-content class="ion-padding">

  <div class="segment-container" class="rounded-list">
    <ion-segment [(ngModel)]="selectedSegment" color="primary" class="split-segment">
      <ion-segment-button value="card1">
        <ion-label>Create</ion-label>
      </ion-segment-button>
      <ion-segment-button value="card2">
        <ion-label>Join</ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list class="rounded-list" *ngIf="selectedSegment === 'card1'">
    <ion-list>
      <ion-item>
        <ion-input label="Household Name" labelPlacement="stacked" placeholder="Enter name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Household Address" labelPlacement="stacked" placeholder="Enter address"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button [routerLink]="['/home']" size="small" expand="block" color="success" shape="round"
      class="lowercase-button">Create</ion-button>
  </ion-list>

  <ion-list class="rounded-list" *ngIf="selectedSegment === 'card2'">
    <ion-list>
      <ion-item>
        <ion-input label="Household Code" labelPlacement="stacked" placeholder="Enter code"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button [routerLink]="['/home']" size="small" expand="block" color="success" shape="round"
      class="ion-margin-top lowercase-button">Request</ion-button>
  </ion-list>

  <!-- household name -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="household-header">
          <ion-text>
            <h2>Mini House</h2>
          </ion-text>
        </div>
      </ion-col>
      <ion-col>
        <ion-icon id="present-alert" style="font-size: 24px" class="ion-float-right" name="add-outline"></ion-icon>
        <ion-alert trigger="present-alert" header="Invite Member" [buttons]="alertButtons"
          [inputs]="alertInputs"></ion-alert>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- household list of members -->
  <ion-list [inset]="true" class="rounded-list">
    <ion-item-sliding>
      <ion-item>
        <ion-grid>
          <ion-item>
            <ion-row>
              <ion-col>
                <ion-avatar>
                  <img style="max-width: 85%; max-height: 85%;" alt="Silhouette of a person's head"
                    src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
              </ion-col>
            </ion-row>
            <ion-col>
              <ion-row>
                <ion-text>
                  <strong>Hani</strong>
                </ion-text>
              </ion-row>
              <ion-row class="ion-margin-bottom">
                <a href="mailto:haniazmi&#64;gmail.com">haniazmi&#64;gmail.com</a>
              </ion-row>
            </ion-col>
          </ion-item>
        </ion-grid>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="end" name="trash-outline"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list [inset]="true" class="rounded-list">
    <ion-item-sliding>
      <ion-item>
        <ion-grid>
          <ion-item>
            <ion-row>
              <ion-col>
                <ion-avatar>
                  <img style="max-width: 85%; max-height: 85%;" alt="Silhouette of a person's head"
                    src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
              </ion-col>
            </ion-row>
            <ion-col>
              <ion-row>
                <ion-text>
                  <strong>Emily</strong>
                </ion-text>
              </ion-row>
              <ion-row class="ion-margin-bottom">
                <a href="mailto:haniazmi&#64;gmail.com">hjemily12&#64;gmail.com</a>
              </ion-row>
            </ion-col>
          </ion-item>
        </ion-grid>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="end" name="trash-outline"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list [inset]="true" class="rounded-list">
    <ion-item-sliding>
      <ion-item>
        <ion-grid>
          <ion-item>
            <ion-row>
              <ion-col>
                <ion-avatar>
                  <img style="max-width: 85%; max-height: 85%;" alt="Silhouette of a person's head"
                    src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
              </ion-col>
            </ion-row>
            <ion-col>
              <ion-row>
                <ion-text>
                  <strong>Taeyang</strong>
                </ion-text>
              </ion-row>
              <ion-row class="ion-margin-bottom">
                <a href="mailto:haniazmi&#64;gmail.com">taeyang4u&#64;gmail.com</a>
              </ion-row>
            </ion-col>
          </ion-item>
        </ion-grid>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="end" name="trash-outline"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>