<ion-content class="ion-padding">
  <ion-list class="rounded-list" *ngIf="hasHousehold == false">
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="household_name" label="Household Name" labelPlacement="floating" placeholder="Enter name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="household_address" label="Household Address" labelPlacement="floating" placeholder="Enter address"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button (click)="create()" size="small" expand="block" color="success" shape="round"
      class="lowercase-button">Create</ion-button>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon id="present-alert" name="add"></ion-icon>
      <ion-alert trigger="present-alert" header="Invite Member" [buttons]="alertButtons"
        [inputs]="alertInputs"></ion-alert>
    </ion-fab-button>
  </ion-fab>

  <!-- household name -->
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="household-header">
          <ion-text>
            <h2>Mini House</h2>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- household list of members -->
  <ion-list [inset]="true" class="rounded-list">
    <ion-item-sliding>
      <ion-item>
        <ion-grid>
          <ion-item>
            <ion-row>
              <ion-col>
                <ion-avatar>
                  <img style="max-width: 85%; max-height: 85%;" alt="Silhouette of a person's head"
                    src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
              </ion-col>
            </ion-row>
            <ion-col>
              <ion-row>
                <ion-text>
                  <strong>Hani</strong>
                </ion-text>
              </ion-row>
              <ion-row class="ion-margin-bottom">
                <a href="mailto:haniazmi&#64;gmail.com">haniazmi&#64;gmail.com</a>
              </ion-row>
            </ion-col>
          </ion-item>
        </ion-grid>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="end" name="trash-outline"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list [inset]="true" class="rounded-list">
    <ion-item-sliding>
      <ion-item>
        <ion-grid>
          <ion-item>
            <ion-row>
              <ion-col>
                <ion-avatar>
                  <img style="max-width: 85%; max-height: 85%;" alt="Silhouette of a person's head"
                    src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
              </ion-col>
            </ion-row>
            <ion-col>
              <ion-row>
                <ion-text>
                  <strong>Emily</strong>
                </ion-text>
              </ion-row>
              <ion-row class="ion-margin-bottom">
                <a href="mailto:haniazmi&#64;gmail.com">hjemily12&#64;gmail.com</a>
              </ion-row>
            </ion-col>
          </ion-item>
        </ion-grid>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="end" name="trash-outline"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list [inset]="true" class="rounded-list">
    <ion-item-sliding>
      <ion-item>
        <ion-grid>
          <ion-item>
            <ion-row>
              <ion-col>
                <ion-avatar>
                  <img style="max-width: 85%; max-height: 85%;" alt="Silhouette of a person's head"
                    src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                </ion-avatar>
              </ion-col>
            </ion-row>
            <ion-col>
              <ion-row>
                <ion-text>
                  <strong>Taeyang</strong>
                </ion-text>
              </ion-row>
              <ion-row class="ion-margin-bottom">
                <a href="mailto:haniazmi&#64;gmail.com">taeyang4u&#64;gmail.com</a>
              </ion-row>
            </ion-col>
          </ion-item>
        </ion-grid>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger">
          <ion-icon slot="end" name="trash-outline"></ion-icon>
          Delete
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>