<ion-header>
  <div class="forgot-password-header ion-padding">
    <img class="logo-img" src="assets/icon/LOGO.png" />
  </div>
</ion-header>

<ion-content class="forgot-password-content">
  <ion-row class="ion-justify-content-center">
    <ion-col size-md="6" size-lg="4">
      <ion-card class="forgot-password-card">
        <ion-card-header>
          <h1 class="big-heading">Forgot Password</h1>
          <p class="sub-heading">Enter your email to reset your password</p>
        </ion-card-header>

        <ion-card-content>
          <form (ngSubmit)="onSendResetLink()" #forgotPasswordForm="ngForm">
            <!-- Email Input -->
            <ion-item class="input-item" lines="none">
              <ion-icon name="mail-outline" slot="start" class="input-icon"></ion-icon>
              <ion-input
                class="custom-input"
                placeholder="Email"
                type="email"
                [(ngModel)]="email"
                name="email"
                required
              ></ion-input>
            </ion-item>

            <!-- Send Reset Link Button -->
            <ion-button
              type="submit"
              expand="block"
              color="green"
              shape="round"
              class="forgot-password-button"
            >
              Send Reset Link
            </ion-button>

            <!-- Back to Login Link -->
            <ion-row class="ion-justify-content-center">
              <ion-col size="auto" class="ion-text-center">
                <ion-text>
                  <p>
                    <a [routerLink]="['/auth/login']" class="signup-link"
                      >Back to Login</a
                    >
                  </p>
                </ion-text>
              </ion-col>
            </ion-row>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
