// ion-card {
//     --background: #94d89d !important;
//     --color: #131212 !important;
// }

// ion-card-content {
//     --ion-text-color: #0f0f0fef; // Optional if you want the text inside to have the same color
// }

// ion-item {
//     --ion-background-color: transparent; // To maintain transparency of the item if needed
//     --ion-text-color: #0a0a0a; // Set text color for ion-item elements
// }

// .custom-icon {
//     font-size: 24px;  /* Adjust the size */
//     margin-right: 10px;  /* Spacing */
//   }

.centered-title {
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
