 .save-button {
   text-transform: none !important;
 }

 ion-label strong {
   display: block;
   max-width: calc(100% - 60px);
   overflow: hidden;
   text-overflow: ellipsis;
 }

 unread-indicator {
   background: var(--ion-color-primary);
   width: 10px;
   height: 10px;
   border-radius: 100%;
   position: absolute;
   inset-inline-start: 12px;
   top: 12px;
 }

 .metadata-end-wrapper {
   position: absolute;
   top: 10px;
   inset-inline-end: 10px;
   font-size: 0.8rem;
   display: flex;
   align-items: center;
 }

 .rounded-list {
   border-radius: 15px;
   overflow: hidden;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   margin: 10px;
 }

 .profile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.profile-header ion-text {
  margin-top: 20px;
}

.profile-header h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

 .notification-icon {
   font-size: 24px;
   width: 30px;
   height: 30px;
   margin-top: 1%;
 }
