<ion-content>
    <ion-label class="ion-padding ">
        <div class="profile-header">
            <ion-text>
                <h2>Profile</h2>
            </ion-text>
            <ion-buttons>
                <ion-button [routerLink]="['/profile/notification']">
                    <ion-icon name="notifications-outline" class="notification-icon"></ion-icon>
                </ion-button>
            </ion-buttons>
        </div>
    </ion-label>

    <ion-list [inset]="true" id="open-details" button="true" class="rounded-list">
        <ion-card-content>
            <ion-item>
                <ion-row>
                    <ion-col>
                        <ion-avatar>
                            <img style="max-width: 85%; max-height: 85%;" alt="Silhouette of a person's head"
                                src="https://ionicframework.com/docs/img/demos/avatar.svg" />
                        </ion-avatar>
                    </ion-col>
                </ion-row>

                <ion-col>
                    <ion-row>
                        <ion-text>
                            <strong>Hani azmi</strong>
                        </ion-text>
                    </ion-row>
                    <ion-row class="ion-margin-bottom">
                        <a href="mailto:haniazmi&#64;gmail.com">haniazmi&#64;gmail.com</a>
                    </ion-row>
                </ion-col>
                <ion-icon name="chevron-forward-outline" slot="end" style="margin-left: 10px;"></ion-icon>
            </ion-item>
        </ion-card-content>
    </ion-list>


    <ion-list [inset]="true" class="rounded-list">
        <ion-item [button]="true" id="open-house">
            <ion-icon slot="start" name="home" size="large"></ion-icon>
            <ion-label>Home</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end" style="margin-left: 10px;"></ion-icon>
        </ion-item>
        <ion-item [button]="true" id="open-payment">
            <ion-icon slot="start" name="scan" size="large"></ion-icon>
            <ion-label>Payment</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end" style="margin-left: 10px;"></ion-icon>
        </ion-item>
        <ion-item [button]="true" id="open-setting">
            <ion-icon slot="start" name="settings" size="large"></ion-icon>
            <ion-label>Setting</ion-label>
            <ion-icon name="chevron-forward-outline" slot="end" style="margin-left: 10px;"></ion-icon>
        </ion-item>
    </ion-list>
</ion-content>


<!-- Modal for details page -->
<ion-modal #modal trigger="open-details">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="modal.dismiss()">
                        <ion-icon name="chevron-back-outline" slot="start" style="margin-left: 10px;"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <!-- <ion-title class="centered-title"> Profile</ion-title> -->
                <ion-buttons slot="end">
                    <ion-button class="save-button">Save</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <!-- display details page -->
        <ion-content>
            <ion-content shape="round">
                <app-profile-details></app-profile-details>
            </ion-content>
        </ion-content>
    </ng-template>
</ion-modal>

<!-- Modal for house page -->
<ion-modal #houseModal trigger="open-house">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="houseModal.dismiss()">
                        <ion-icon name="chevron-back-outline" slot="start" style="margin-left: 10px;"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <!-- <ion-title class="centered-title"> Mini House</ion-title> -->
                <ion-buttons slot="end">
                    <ion-button>Save</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <!-- display details page -->
        <ion-content>
            <ion-content shape="round">
                <app-profile-house></app-profile-house>
            </ion-content>
        </ion-content>
    </ng-template>
</ion-modal>

<!-- Modal for payment page -->
<ion-modal #paymentModal trigger="open-payment">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="paymentModal.dismiss()">
                        <ion-icon name="chevron-back-outline" slot="start" style="margin-left: 10px;"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-title class="centered-title"> </ion-title>
                <ion-buttons slot="end">
                    <ion-button>Save</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <!-- display details page -->
        <ion-content>
            <ion-content shape="round">
                <app-profile-payment></app-profile-payment>
            </ion-content>
        </ion-content>
    </ng-template>
</ion-modal>

<!-- Modal for setting page -->
<ion-modal #settingModal trigger="open-setting">
    <ng-template>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-button (click)="settingModal.dismiss()">
                        <ion-icon name="chevron-back-outline" slot="start" style="margin-left: 10px;"></ion-icon>
                    </ion-button>
                </ion-buttons>
                <ion-title class="centered-title"> </ion-title>
                <ion-buttons slot="end">
                    <ion-button>Save</ion-button>
                </ion-buttons>
            </ion-toolbar>
        </ion-header>
        <!-- display details page -->
        <ion-content>
            <ion-content shape="round">
                <app-profile-setting></app-profile-setting>
            </ion-content>
        </ion-content>
    </ng-template>
</ion-modal>