<ion-header>
    <ion-toolbar>
      <!-- Back Button -->
      <ion-buttons slot="start" (click)="cancelCreate()">
        <ion-icon style="font-size: 20px" name="chevron-back-outline"></ion-icon>
      </ion-buttons>
  
      <!-- Centered Title -->
      <ion-title class="header-title">
        Expense Summary
      </ion-title>
  
      <!-- Save Button -->
      <ion-buttons slot="end" (click)="cancelCreate()">
        <ion-icon style="font-size: 20px" name="checkmark-done-outline"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

