<ion-content class="ion-padding">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size-md="6" size-lg="4">
          <ion-card>
            <ion-card-header>
              <ion-card-title class="ion-text-center">Create Household</ion-card-title>
            </ion-card-header>
  
            <ion-card-content>
                <ion-input label="Household name" label-placement="floating" fill="outline" placeholder="Enter household name" required ></ion-input>
                <br />
  
                <ion-input label="Address" label-placement="floating" fill="outline" placeholder="Enter address" required ></ion-input>
                <br />
  
              <ion-button [routerLink]="['/home']" size="small" expand="block" color="success" shape="round" class="ion-margin-top lowercase-button"
              >Create</ion-button>
               <br />
  
             
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>