.custom-icon {
  font-size: 24px;
  /* Adjust the size */
  margin-right: 10px;
  /* Spacing */
}

.rounded-list {
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

