<ion-header>
  <ion-toolbar class="modal-toolbar">
    <ion-title>Add Expense</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()" fill="clear" class="close-button">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="modal-background">
  <div class="modal-container">
    <!-- Amount Input -->
    <div class="form-group">
      <ion-label class="form-label">Amount</ion-label>
      <ion-item class="form-item" lines="none">
        <ion-input
          [(ngModel)]="expense.amount"
          type="number"
          placeholder="Enter amount"
        ></ion-input>
        <ion-icon name="cash-outline" slot="end"></ion-icon>
      </ion-item>
    </div>

    <!-- Category Selection -->
    <div class="form-group">
      <ion-label class="form-label">Category</ion-label>
      <ion-item class="form-item" lines="none">
        <ion-select
          [(ngModel)]="expense.selected_category"
          placeholder="Select a category"
          label="Category"
        >
          <ion-select-option value="Entertainment"
            >Entertainment</ion-select-option
          >
          <ion-select-option value="Food & Drinks"
            >Food & Drinks</ion-select-option
          >
          <ion-select-option value="Groceries">Groceries</ion-select-option>
          <ion-select-option value="Transport">Transport</ion-select-option>
          <ion-select-option value="Housing">Housing</ion-select-option>
          <ion-select-option value="Others">Others</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Expense Date -->
    <div class="form-group">
      <ion-label class="form-label">Date</ion-label>
      <ion-item class="form-item" lines="none">
        <ion-datetime-button datetime="expenseDatePicker"></ion-datetime-button>
      </ion-item>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            id="expenseDatePicker"
            presentation="date"
            [(ngModel)]="expense.expense_date"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </div>

    <!-- Notes Input -->
    <div class="form-group">
      <ion-label class="form-label">Notes</ion-label>
      <ion-item class="form-item" lines="none">
        <ion-textarea
          [(ngModel)]="expense.notes"
          placeholder="Write your notes..."
          rows="3"
        ></ion-textarea>
      </ion-item>
    </div>

    <!-- Assign Members -->
    <div class="form-group">
      <ion-label class="form-label">Assign Members</ion-label>
      <ion-item class="form-item" lines="none">
        <ion-select
          [(ngModel)]="expense.members"
          [multiple]="true"
          placeholder="Select members"
          label="Members"
        >
          <ion-select-option
            *ngFor="let member of householdMembers"
            [value]="member.user.id"
          >
            {{ member.user.name }}
          </ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <!-- Save Button -->
    <div class="action-group">
      <ion-button
        expand="block"
        shape="round"
        size="large"
        color="success"
        class="action-button"
        (click)="createExpense()"
      >
        Save Expense
      </ion-button>
    </div>
  </div>
</ion-content>
