<ion-content class="ion-padding">
    <ion-list class="rounded-list">
        <ion-item>
            <ion-input type="password" placeholder="Current password"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list class="rounded-list">
        <ion-item>
            <ion-input type="password" placeholder="New password"></ion-input>
        </ion-item>
    </ion-list>

    <!-- Logout Button -->
    <ion-button (click)="logout()" size="small" expand="block" shape="round" class="lowercase-button">
        Logout
    </ion-button>
</ion-content>