<ion-content class="ion-padding">
    <ion-list class="rounded-list">
        <ion-item>
            <ion-input type="password" placeholder="Current password"></ion-input>
        </ion-item>
    </ion-list>
    <ion-list class="rounded-list">
        <ion-item>
            <ion-input type="password" placeholder="New password"></ion-input>
        </ion-item>
    </ion-list>
    <ion-button [routerLink]="['/auth/login']" size="small" expand="block" shape="round"
        class="lowercase-button">logout</ion-button>
</ion-content>