<ion-content>
  <ion-label class="ion-padding ">
    <div class="task-header">
      <ion-text>
        <h2>Task</h2>
      </ion-text>
    </div>
  </ion-label>

  <ion-accordion-group expand="inset" [value]="today">

    <ion-accordion *ngFor="let day of days; index as key" [value]="day">
      <ion-item class="rounded-list" slot="header">
        <ion-label class="drop-down"> {{ ucfirst(day) }}</ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <!-- Tasks for the given day -->
        <ion-list *ngFor="let groupedByDay of groupedByDays[key]" [inset]="true" class="rounded-list">
          <ion-item (click)="navigateToEditTask(groupedByDay.id)">
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-row>
                    <ion-item>
                      <ion-text><strong>{{ getTaskName(groupedByDay.tasks) }}</strong></ion-text>
                    </ion-item>
                  </ion-row>
                  <ion-row>
                    <ion-item>
                      <ion-text>{{ groupedByDay.notes }}</ion-text>
                    </ion-item>
                  </ion-row>
                  <ion-row>
                    <ion-item>
                      <ion-icon name="person-outline" slot="start"></ion-icon>
                      <ion-text>{{ groupedByDay.users }}</ion-text>
                    </ion-item>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
        </ion-list>
        <!-- Message when there are no tasks -->
        <ion-item class="no-task-item" *ngIf="!groupedByDays[key] || groupedByDays[key].length === 0">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-text>No task for today.</ion-text>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </div>

    </ion-accordion>
  </ion-accordion-group>


  <!-- FAB Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" *ngIf="isLeader">
    <ion-fab-button class="fab-button" [routerLink]="['/task/create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>