
.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.task-header ion-text {
  margin-top: 20px;
}

.task-header h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}


.accordion-header {
  --background: var(--ion-color-light);
  --border-color: var(--ion-color-medium);
}

.task-item {
  --background: var(--ion-color-light);
  border-radius: 8px;
  margin-bottom: 8px;

  ion-label {
    h2 {
      font-size: 1.2rem;
      font-weight: bold;
    }
    p {
      margin: 4px 0 8px;
      font-size: 0.9rem;
    }
  }
}

.no-task-message {
  text-align: center;
  padding: 1rem 0;
  color: var(--ion-color-medium);
}

.task-accordion-group {
  margin-top: 16px;
}

ion-fab-button {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-hover: var(--ion-color-primary-shade);
}

.fab-button {
  --background: #53923d;
  --color: #ffde59;
}

