<ion-content>
  <ion-label class="ion-padding ">
    <div class="task-header">
      <ion-text>
        <h2>Task</h2>
      </ion-text>
    </div>
  </ion-label>

  <ion-accordion-group expand="inset" [value]="today">
    <ion-accordion *ngFor="let day of days;" value="{{ day }}">
      <ion-item class="rounded-list" slot="header" color="light">
        <ion-label>{{ ucfirst(day) }}</ion-label>
      </ion-item>

      <div class="ion-padding" slot="content">
        <ion-list [inset]="true" class="rounded-list">
          <ion-item-sliding>
            <ion-item>
              <ion-grid>
                <ion-row>
                  <ion-col>

                    <ion-row>
                      <ion-item>
                        <ion-text>
                          <strong> Mop floor</strong>
                        </ion-text>
                      </ion-item>
                    </ion-row>

                    <ion-row>
                      <ion-item>
                        <ion-text> Lantai dapur </ion-text>
                      </ion-item>
                    </ion-row>

                    <ion-row>
                      <ion-item>
                        <ion-icon name="person-outline" slot="start"></ion-icon>
                        <ion-text>Hani, Emily</ion-text>
                      </ion-item>
                    </ion-row>

                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
          </ion-item-sliding>
        </ion-list>
      </div>

    </ion-accordion>
  </ion-accordion-group>

  <!-- FAB Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/task/create']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>