<app-header></app-header>

<!-- FAB Button -->
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button id="open-amount">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-modal #modal trigger="open-amount">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="modal.dismiss()">Cancel</ion-button>
        </ion-buttons>
        <ion-title class="centered-title">Expense</ion-title>
        <ion-buttons slot="end">
          <ion-button >Next</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <!-- <app-expense-amount></app-expense-amount>  -->
      <div class="segment-container">
        <ion-segment [(ngModel)]="selectedSegment" color="primary" class="split-segment">
          <ion-segment-button value="card1">
            <ion-label>Amount</ion-label>
          </ion-segment-button>
          <ion-segment-button value="card2">
            <ion-label>Who paid?</ion-label>
          </ion-segment-button>
          <ion-segment-button value="card3">
            <ion-label>For who?</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <!-- Display Card 1 -->
      <ion-card shape="round" *ngIf="selectedSegment === 'card1'">
        <app-expense-amount></app-expense-amount>
      </ion-card>

      <!-- Display Card 2 -->
    <ion-card *ngIf="selectedSegment === 'card2'"> 
      <app-expense-paid></app-expense-paid>
    </ion-card>

     <!-- Display Card 3 -->
     <ion-card *ngIf="selectedSegment === 'card3'"> 
      <app-expense-assign></app-expense-assign>
    </ion-card>

    </ion-content>
  </ng-template>
</ion-modal>