.move-text {
  position: relative;
  top: 20px;
  left: 10px;
}

.move-text {
  margin-top: 20px;
  margin-left: 10px;
}

.split-segment {
  display: flex;
  justify-content: space-between;
}

.split-segment ion-segment-button {
  flex: 1;
  text-align: center;
}

.expense-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.expense-header ion-text {
  margin-top: 20px;
}

.expense-header h2 {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}

.expense-header ion-icon {
  font-size: 25px;
  margin-top: -10px;
}

.expense-header ion-buttons {
  align-self: flex-start;
}

.segment-container {
  display: flex;
  justify-content: space-around;
}

.rounded-list {
  border-radius: 15px; /* Adjust the radius as needed */
  overflow: hidden; /* Ensures items inside follow the rounding */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
  margin: 10px; /* Optional: adds space around the list */
}

.centered-title {
  text-align: center;
  font-weight: bold;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
