<ion-content>
  <ion-label class="ion-padding ">
    <div class="expense-header">
      <ion-text>
        <h2>Expense</h2>
      </ion-text>
      <ion-buttons class="icon-move">
        <ion-icon name="bar-chart-outline"></ion-icon>
      </ion-buttons>
    </div>
  </ion-label>

  <!-- unpaid & paid segments -->
    <ion-segment [(ngModel)]="selectedSegment" color="primary" class="split-segment ion-padding-horizontal">
      <ion-segment-button value="card1">
        <ion-label>Unpaid</ion-label>
      </ion-segment-button>
      <ion-segment-button value="card2">
        <ion-label>Paid</ion-label>
      </ion-segment-button>
    </ion-segment>


  <!-- call unpaid and paid pages -->
  <ion-list [inset]="true" class="rounded-list" *ngIf="selectedSegment === 'card1'">
    <app-expense-unpaid></app-expense-unpaid>
  </ion-list>
  <ion-list [inset]="true" class="rounded-list" *ngIf="selectedSegment === 'card2'">
    <app-expense-paid></app-expense-paid>
  </ion-list>
</ion-content>

 <!-- FAB Button -->
 <ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button [routerLink]="['/expense/create']">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>