<ion-header>
  <ion-toolbar class="task-toolbar">
    <ion-title class="toolbar-title">Expenses</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="modern-background">
  <ion-refresher
    slot="fixed"
    (ionRefresh)="refreshData($event)"
    style="background: #ffffff"
  >
    <ion-refresher-content
      pulling-icon="chevron-down-outline"
      refreshing-spinner="crescent"
    >
    </ion-refresher-content>
  </ion-refresher>
  <div class="content-wrapper">
    <!-- Segmented Header -->
    <div class="segment-container">
      <ion-segment
        [(ngModel)]="selectedSegment"
        class="modern-segment"
        color="tertiary"
      >
        <ion-segment-button value="card1">
          <ion-label>My Expenses</ion-label>
        </ion-segment-button>
        <ion-segment-button value="card2">
          <ion-label>Shared Expenses</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div>

    <!-- Content Section -->
    <div class="expense-content">
      <!-- My Expenses -->
      <div *ngIf="selectedSegment === 'card1'">
        <app-expense-unpaid
          [expenseModels]="expenseModels"
          (notifyParent)="notifyParent()"
        ></app-expense-unpaid>
      </div>

      <!-- Shared Expenses -->
      <div *ngIf="selectedSegment === 'card2'">
        <app-expense-paid
          [expenseMemberModels]="expenseMemberModels"
          (getOtherExpenses)="getOtherExpenses()"
        ></app-expense-paid>
      </div>
    </div>
  </div>

  <!-- Floating Action Button -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button class="modern-fab" (click)="openCreateExpenseModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
